<!DOCTYPE html>
<html>
    <head>
        <title>Sparrasite</title>
    </head>

    <body>
        <h1>Sparrasite</h1>

        <ul class="list-box">
            <li>
                <a href="/xss">Cross Site Scripting(XSS)</a>
            </li>
        </ul>
    </body>
</html>